page-event-create {
    form {
            margin-bottom: 32px;
            button { 
                margin-top: 20px; 
            }
        }
    ion-label {
         margin-left: 5px; 
    }
    ion-input { 
        padding: 5px;
    }
}
